$font-family: 'SF Pro Display, serif';
$toolbar-color: #F0F8FE;

.toolbar-templates {
  .appbar-templates {
    position: relative;
    background-color: $toolbar-color;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: none;
    border-bottom: 1px solid #c3c3c3;

    .right,
    .left {
      display: flex;
      align-items: center;
    }

    .name {
      display: flex;
      align-items: center;
      font-family: $font-family;
      line-height: normal;
      font-size: 16px;
      text-align: center;
      letter-spacing: 0.06em;
      color: #24446A;
      margin-right: 15px;
    }

    .preview {
      width: 48px;
    }

    .item {
      margin-right: 5px;
    }

    .separator {
      margin-right: 20px;
    }
  }

  .metabar-templates {
    left: 0;
    top: 77px;
    height: calc(100vh - 40px);
    width: 48px;
    background: $toolbar-color;
    box-shadow: none;
    border-right: 1px solid #c3c3c3;

    &.full-screen {
      top: 39px
    }
  }
}