.meta-modal {
  width: 300px;
  height: 300px;
  background-color: red;
  color: #fff;
  position: absolute;
  z-index: 500;

  > div {
    position: absolute;
    height: 100%;
    width: 100%;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    
    button {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
    }
  }
  
  &_dragging {
    border: 2px solid green;
  }
}
