$primary-color: #D3DAE1;
$light-color: #fff;
$dark-color: #000;
$light-grey: lightgrey;
$background-color: #f9f9f9;

.fullscreen-enabled .full-screenable-node {
  background: $light-color;
  height: 100vh;
}

#graph {
  height: calc(100vh - 82px);
  width: 100%;
  display: flex;

  &.full-screen {
    height: calc(100vh - 42px);
  }
}

.total-nodes {
  margin-right: 10px;
}

.app-header {
  border-bottom: 1px solid $dark-color;
  background: $background-color;

  > nav {
    height: 25px;
    > a {
      border-right: 1px solid $dark-color;
      line-height: 25px;
      min-width: 150px;
      padding: 10px;

      &.active {
        background: #333;
        color: white;
      }
    }
  }
}

.graph-header {
  border-bottom: 1px solid $dark-color;
  position: fixed;
  width: 100%;
  background-color: $light-color;
  padding: 10px;

  .layout-engine {
    display: inline-block;
    > span {
      margin-right: 5px;
    }
  }
}

.sidebar {
  background-color: white;
  display: flex;

  &.left,
  &.right {
    height: 100%;
    width: 50%;
    flex: 1;

    .sidebar-main-container {
      &.closed {
        width: 0 !important;
      }
    }

    .sidebar-toggle-bar {
      width: 10px;
      height: 100%;
      border-right: 1px solid $dark-color;
      border-left: 1px solid $dark-color;
    }
  }
  &.right {
    flex-direction: row-reverse;
  }

  &.up,
  &.down {
    width: 100%;

    .sidebar-main-container {
      &.closed {
        height: 0 !important;
      }
    }

    .sidebar-toggle-bar {
      height: 10px;
      width: 100%;
      border-top: 1px solid $dark-color;
      border-bottom: 1px solid $dark-color;
    }
  }

  &.up {
    flex-direction: column;
  }
  &.down {
    flex-direction: column-reverse;
  }

  .sidebar-main-container {
    flex: 1;
    transition: height, width 0.5s;

    &.closed {
      overflow: hidden;
    }
  }

  .sidebar-toggle-bar {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $dark-color;
  }

  .sidebar-text-area {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 10px;
    font-size: 1.2em;
  }
}

.graph-container {
  position: relative;
  flex: 1;
}

.selected-node-container {
  padding: 10px;

  .node-property {
    margin-bottom: 10px;

    .choices {
      padding-left: 10px;
      margin-bottom: 10px;

      .and-object {
        padding-left: 10px;
        margin-bottom: 5px;
      }
    }

    .node-sub-property {
      padding-left: 10px;
    }
  }

  label {
    font-weight: bold;
  }
}

.view-wrapper {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  box-shadow: none;
  background: $background-color;
  transition: opacity 0.167s;
  opacity: 1;
  outline: none;
  user-select: none;

  > .graph {
    align-content: stretch;
    flex: 1;
    width: 100%;
    height: 100%;
  }

  .node {
    .shape {
      > use.node {
        color: $primary-color;
        stroke: $dark-color;
        fill: $light-color;
        filter: url(#dropshadow);
        stroke-width: 0.5px;
        cursor: pointer;
        user-select: none;

        &.hovered {
          stroke: $primary-color;
        }
        &.selected {
          color: $light-color;
          stroke: $primary-color;
          stroke-width: 1px;
          fill: $primary-color;
        }
      }
    }

    .node-text {
      fill: $dark-color;
      cursor: pointer;
      user-select: none;
      &.selected {
        fill: $light-color;
        stroke: $light-color;
      }
    }
  }

  .edge {
    color: $primary-color;
    stroke: $primary-color;
    stroke-width: 5px;
    cursor: pointer;
    
    &-use {
      stroke: none;
      marker-end: url(#end-arrow);
    }

    .edge-text {
      stroke-width: 0.5px;
      fill: $primary-color;
      stroke: $primary-color;

      cursor: pointer;
      user-select: none;
    }

    &.selected {
      color: $primary-color;
      stroke: $primary-color;

      .edge-text {
        fill: $light-color;
        stroke: $light-color;
      }
    }


  }

  .edge-mouse-handler {
    stroke: $dark-color;
    opacity: 0;
    color: transparent;
    stroke-width: 15px;
    cursor: pointer;
    pointer-events: all;
  }

  .arrow {
    fill: $light-color;
  }

  .graph-controls {
    position: absolute;
    bottom: 30px;
    left: 15px;
    z-index: 100;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 15px;
    align-items: center;
    user-select: none;

    > .slider-wrapper {
      background-color: white;
      color: $primary-color;
      border: solid 1px lightgray;
      padding: 6.5px;
      border-radius: 2px;

      > span {
        display: inline-block;
        vertical-align: top;
        margin-top: 2px;
      }

      > .slider {
        position: relative;
        margin-left: 4px;
        margin-right: 4px;
        cursor: pointer;
      }
    }

    > .slider-button {
      background-color: white;
      fill: $primary-color;
      border: solid 1px lightgray;
      outline: none;
      width: 31px;
      height: 31px;
      border-radius: 2px;
      cursor: pointer;
      margin: 0;
    }
  }

  .circle {
    fill: $light-grey;
  }
}

.slider-width {
  min-width: 150px;
  max-width: 150px;
  padding: 10px;
  box-sizing: border-box;
}

.fit-icon {
  &:hover {
    filter: sepia() saturate(10000%) hue-rotate(200deg);
  }
}

.block {
  display: block;
}

.m-right_small {
  margin-right: 5px;
}

%undo_redo-pseudo-common {
  content: '';
  display: block;
  height: 100%;
  width: 1px;
  background: #24446A;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.undo_redo-container {
  &::before {
    @extend %undo_redo-pseudo-common;
    left: 0;
  }
  &::after {
    @extend %undo_redo-pseudo-common;
    right: 0;
  }
  & > button {
    margin-right: 10px;
    &:hover:enabled {
      filter: sepia() saturate(10000%) hue-rotate(200deg);
    }
    
    &:first-child {
      margin-left: 10px;
    }
  }
}

.is-relative {
  position: relative;
}

.is-absolute {
  position: absolute;
}